<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading">
                <h1 class="text-center">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex justify-content-center">
                <div id="manager" class="col-3 card" style="width: 18rem">
                    <div class="card-body">
                        <h3 class="card-title">Manager</h3>
                        <p class="card-text">In the Information you will find their name, id, office number, and email</p>
                        <a href="manager.html" class="card-link">Information</a>
                    </div>
                </div>
                <div>
                    <span class="col"></span>
                </div>
                <div id="engineer" class="col-3 card" style="width: 18rem">
                    <div class="card-body">
                        <h3 class="card-title">Engineer</h3>
                        <p class="card-text">In the Information you will find their name, id, github, and email
                            <a href="engineer.html" class="card-link">Information</a>
                        </p>
                    </div>
                </div> 
                <div>
                    <span class="col"></span>
                </div>               
                <div id="intern" class="col-3 card" style="width: 18rem">
                    <div class="card-body">
                        <h3 class="card-title">Intern</h3>
                        <p class="card-text">In the Information you will find their name, id, school, and email</p>
                        <a href="intern.html" class="card-link">Information</a>
                    </div>
                </div>
        </div>
    </div>

    <script src="../lib/htmlRenderer.js"></script>
    <script src="../lib/Employee.js"></script>
    <script src="../lib/Engineer.js"></script>
    <script src="../lib/Intern.js"></script>
    <script src="../lib/Manager.js"></script>
</body>

</html>
